@model LoginViewModel
@{
	ViewData["Title"] = "LoginPage";
}

<main>
	@{Html.BeginForm("SignIn", "Login", FormMethod.Post, new { @class = "login-form" });}
	<div class="form-group">
		<label for="login-input">Login: </label>
		@Html.TextBoxFor(m => m.Login, new { @class = "form-control", id = "password-input", required = "required" })
	</div>
	<div class="form-group">
		<label for="password-input">Password: </label>
		@Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "password-input", required = "required" })
	</div>
	<input type="submit" value="Sign In" class="btn btn-primary" />
	@{Html.EndForm();}
</main>